certifi==2018.1.18
chardet==3.0.4
Cython==0.25
dnspython==1.15.0
docutils==0.14
ecdsa==0.13
gunicorn==19.7.1
idna==2.6
pbkdf2==1.3
protobuf==3.5.1
pycairo==1.15.3
Pygments==2.2.0
requests==2.18.4
six==1.11.0
slowaes==0.1a1
tlslite==0.4.9
urllib3==1.26.5
Jinja2==2.10
Flask==0.12.2
Flask-WTF==0.14.2
WTForms==2.1
