{%extends "layout.html" %}

{% block content %}
<div class="view home hm-black-light">
   <div class="full-bg-img flex-center">
      <div class="card animated fadeInUp " data-wow-delay="0.3s" style="animation-name: none; visibility: visible; background: rgba(126, 123, 215, 0.2); width: 28rem;margin-top: 5px !important;">
         <div class="text-center mx-4">
            <h3 class=" mt-4 mb-3"><strong>Remove vehicle</strong></h3>
         </div>
         <div class="card-body mx-4 wow fadeInUp" data-wow-delay="0.2s">
            <form method="POST" action="/removeproperty">
               {{form.hidden_tag()}}
               <div class="md-form">
                 {%if form.removeid.errors %}{% for error in form.removeid.errors %}
                  <p class="error-messages">{{error}}</p>
                  {% endfor %}{% endif %}<i class="fa fa-user prefix fa-fw "></i>
                  {{form.removeid}}
                  {{form.removeid.label}}
               </div><br/><br/>
               <div class="text-center wow fadeInUp" data-wow-delay="0.2s"> <button class="btn btn-danger">Delete vehicle from database</button> </div>
            </form>
         </div>
      </div>
   </div>
</div>

{% endblock %}
